:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  --olive: #778A35;
  --dark-olive: #31352E;
  --sage: #D1E2C4;
  --lightest: #EBEBE8;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  background-color: var(--dark-olive);
}

.container {
  display: flex;
  grid-template-columns: repeat(3, 100px);
  grid-gap: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 97vh;
  width: auto;
}


#bigBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
  background-color: var(--dark-olive);
  color: olive;
  font-size: 8rem;
  border-radius: 18px;
  cursor: pointer;
  transition: all 0.3s ease;

  border: 2px solid transparent;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

.newApp {
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20vh;
  height: 20vh;
  background-color: var(--dark-olive);
  color: olive;
  font-size: 5vh;
  border-radius: 18px;
  cursor: pointer;
  transition: all 0.3s ease;

  border: 2px solid transparent;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

.apps{
  padding: 50px;
  display: flex;
  flex-direction: row;
  gap:  px;
  align-items: center;
  background-color: var(--dark-olive);
  color: olive;
  font-size: 2rem;
}

#greet-input {
  margin-right: 5px;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #f6f6f6;
    background-color: #2f2f2f;
  }

  a:hover {
    color: #24c8db;
  }

  input,
  button {
    color: #ffffff;
    background-color: #0f0f0f98;
  }
  button:active {
    background-color: #0f0f0f69;
  }
}
