:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  --olive: #778A35;
  --dark-olive: #31352E;
  --sage: #D1E2C4;
  --lightest: #EBEBE8;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  background-color: var(--dark-olive);
}

.container {
  display: flex;
  grid-template-columns: repeat(3, 100px);
  grid-gap: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 97vh;
  width: auto;
}

h1 {
  text-align: center;
}

#bigBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
  background-color: var(--olive);
  color: var(--sage);
  font-size: 8rem;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  border-radius: 18px;
  cursor: pointer;
  transition: all 0.3s ease;
  border: 1px solid transparent;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

#bigBtn:hover {
  background-color: var(--sage);
  color: var(--lightest);
  border: 1px solid var(--olive);
}
